<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>255912253933-pkqds7jdu46flnnpl5g4l71nuf5j0lrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255912253933-pkqds7jdu46flnnpl5g4l71nuf5j0lrv</string>
	<key>API_KEY</key>
	<string>AIzaSyCTMuW-Yz4uJRLIr2qJb0ndoIboqYF_9cU</string>
	<key>GCM_SENDER_ID</key>
	<string>255912253933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mymotiff.My-Mo</string>
	<key>PROJECT_ID</key>
	<string>mymo-d9b84</string>
	<key>STORAGE_BUCKET</key>
	<string>mymo-d9b84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:255912253933:ios:a3184076bba3cf28</string>
	<key>DATABASE_URL</key>
	<string>https://mymo-d9b84.firebaseio.com</string>
</dict>
</plist>